/* -- Presets -- */
.-card {
  display: flex;
  justify-content: space-between;

  align-items: center;
  justify-content: center;

  min-width: 225px;
  width: auto;
  height: max-content;

  flex-direction: column;
  background-color: var(--emphasis-color);

  padding: 3%;
}

/* -- Card-Infos -- */
.-song-image {
  min-width: 225px;
  min-height: 225px;

  width: 20vw;
  height: 20vw;

  background-color: var(--bg-color);
}

.-song-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  width: 100%;

  margin-top: 5%;
  margin-bottom: 5%;
}

.-data-song-artist p {
  color: var(--text-discreet-color);
}

.-data-like {
  min-width: 25px;
  min-height: 25px;
  
  width: 8%;
  height: 40%;
}

/* -- Card-Player -- */
.-player-menu {
  justify-content: space-between;
  width: 100%;
}

.-song-button {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;

  border-radius: 100%;
  background-color: white;
}
.-previous-song, .-later-song {
  background-color: transparent;
}

.-previous-song {
  rotate: 180deg;
}

/* -- Song-Bar -- */
.-info-song-duration {
  margin-top: 5%;
  width: 100%;
}
.-song-progress-bar, #song-bar-duration {
  display: flex;

  width: 100%;
  height: 1vh;

  border-style: none;
  border-radius: 100vw;
}

#song-bar-duration {
  background-color: var(--bar-bg-color);
}

#song-bar-current {
  width: 20%;
  height: 100%;

  background-color: var(--bar-color);
  border-radius: 100vw;
}

/* -- Cronometer -- */
.-song-cronometer {
  margin-top: 5%;
}
.-cronometer {
  width: 100%;
  justify-content: space-between;
}

.-cronometer * {
  color: var(--text-discreet-color);
}